Q-1. Write an SQL query to print the first three characters of  FIRST_NAME from Worker table.

Ans:- select substring(FIRST_NAME,1,3) as FIRST_NAME from worker;

Q-2. Write an SQL query to find the position of the alphabet (‘a’) in the first name column ‘Amitabh’ from Worker table.

Ans:- select locate('a',FIRST_NAME) as " position OF a" from worker where FIRST_NAME = "Amitabh";

Q-3. Write an SQL query to print the name of employees having the highest salary in each department.

Ans:- select first_name, salary, department from Worker as w where salary = (select MAX(salary) from worker where department = w.department);